<div class="container">

  <h2 class="mt-4"> <%= @cocktail.name %> </h2>

  <div>
    <% if @cocktail.doses.empty? %>
    <p class="text-gray">
      Pas d'ingrédient pour le moment, ajoutes en un !
    </p>
    <% else %>
    <h3> Ingrédients </h2>
      <% end %>
  </div>

  <ul class="list-unstyled">
    <% @cocktail.doses.each do |dose| %>
    <li>
      <i class="fa fa-glass"></i> <strong> <%= dose.ingredient.name %> </strong>
      <%= link_to dose_path(dose), method: :delete do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </li>
    <p><%= dose.description %></p>
    <% end %>
  </ul>

    <div id="ingredient-form">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.input :ingredient, collection: Ingredient.order(:name),  prompt: "Choisis en un" %>
            <%= f.input :description %>
            <%= f.submit "Envoyer", class: "btn btn-primary" %>
            <%= link_to "Retour au Menu", cocktails_path, class: "btn btn-secondary" %>
            <% end %>
        </div>
      </div>
    </div>

</div>
